* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background: #ecf0f1;
	font-family: sans-serif;
	margin: 0 auto;
}
p {
	color: #524c56;
	font-size: 160%;
	line-height: 155%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}
h3 {
	font-size: 175%;
	line-height: 155%;
	font-weight: 500;
	color: #524c56;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
}
a {
	color: #524c56;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #c3d7df;
}
img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
#wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
#banner-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 0 0 0;
}
header {
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	margin-bottom: 14px;
}
header #logo img{
	margin: 10px;
	float: left;
	width: 325px;
}
nav {
	float: right;
	padding: 25px 0px 0px 0px;
}
#menu-icon {
	display: none;
	font-size: 50px;
}
ul {
	list-style: none;
}
nav ul li {
	font-size: 150%;
	display: inline-block;
	float: left;
}
nav ul li a {
	color: #6991AC;
}
a:hover {
	color: #a5bdcd;
}
.one-third-padding {
	width: 29%;
	/*float: left;*/
	margin: 2% 2%;
}
.clearfix-padding {
	clear: both;
	padding: 2%;
}
footer {
	background: #354b60;
	width: 100%;
	overflow: auto;
}
.icon-text {
	width: 100%;
	margin: 0 auto;
}
.icon-text-icon {
	float: left;
	width: 35%;
	padding: 40px 0 40px 4%;
	box-sizing: border-box;
}
.icon-text-text {
	float: left;
	width: 65%;
	padding: 4% 4% 2% 0;
	box-sizing: border-box;
}
.footer-nav {
	text-align: right;
	border-right: 2px solid #688aac;
	padding: 10px 40px;
}
.footer-nav a {
	font-size: 140%;
	color: #c3d7df;
	font-weight: 300;
	display: block;
	padding: 4px;
}

.footer-nav li {
	line-height: 30px;
	cursor: pointer;
	transition: all ease .5s;
}

.footer-nav li:hover {
	background: #476481;
}

.footer-nav a:hover {
	color: #f5f5f5;
}
.social {
	list-style-type: none;
	text-align: left;
	margin-left: 20px;
}
.social li {
	display: inline;
}
.social i {
	font-size: 250%;
	margin: 6px;
	color: #c3d7df;
	border-radius: 100%;
	width: 80px;
	line-height: 80px;
	text-align: center;
}
.social i:hover {
	color: #f5f5f5;
	background: #688aac;
}
footer.second {
	border-top: 1px solid #aadcd2;
	text-align: center;
	margin: 0;
}
footer.second p, .second a {
	text-align: center;
	color: #fff;
	font-size: 160%;
	line-height: 155%;
}

.second-footer p {
	padding: 10px 40px;
	font-size: 20px;
	color: #688aac;
	text-align: right;
	background: #2c3e50;
}

.second-footer p a, .second-footer p a:visited, .second-footer p a:active, .second-footer p a:hover {
	color: #688aac;
	font-weight: normal;
}

@media screen and (max-width: 768px) {
	p {
		font-size: 130%;
	}
	h3 {
		font-size: 150%;
	}
	header {
		height: 80px;
		position: relative;
	}
	header #logo {
		margin: 15px 0 20px -25px;
	}
	#menu-icon {
		display: inline-block;
	}
	/*nav:hover ul {
		display: block;
	}*/
	nav ul, nav:active ul {
		display: none;
		z-index: 9000;
		position: absolute;
		padding: 20px;
		background: #f5f5f5;
		border: 1px solid #a5bdcd;
		right: 20px;
		width: 30%;
		opacity: .95;
	}
	nav li {
		text-align: center;
		width: 100%;
	}
	.one-third-padding {
		width: 98%;
		margin: 0;
		padding: 1%;
	}
	.icon-text-icon {
		width: 100%;
		padding: 0 0 2% 0;
	}
	.icon-text-text {
		width: 100%;
		padding: 2% 0 0 0;
		font-size: 80%;
	}
	.footer-nav {
		margin: 0 auto;
		text-align: center;
		padding: 5%;
	}
	.footer-nav li {
		padding: 1%;
	}
	.footer-nav {
		border-right: none;
	}
	.social {
		text-align: center;
	}

	#wrapper {
		text-align: center;
	}

	.one-third-padding {
		margin: 10px auto 0px;
		width: 95%;
	}
}



/********************************* NUEVO *********************************/

header nav a {
	font-size: 22px;
	display: block;
	padding: 10px;
	transition: all ease .5s;
	font-weight: normal;
}

.one-third-padding {
	background: #FFF;
	padding: 20px;
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0px 1px 3px #ccc;
	display: inline-block;
	vertical-align: top;
}

.one-third-padding p {
	font-size: 16px;
	margin-top: 10px;
	hyphens: auto;
	color: #777;
	min-height: 95px;
}

.one-third-padding h3 {
	color: #6991ac;
	font-size: 18px;
	margin-bottom: 10px;
}

.img-usuario {
	width: 180px;
	height: 180px;
	margin: auto;
	border-radius: 100%;
	background-position: center center;
	background-size: cover;
}

.one-third-padding img {
	width: calc(100% - 70px);
}